@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

  :root {
    --bg: #000000;
    --clr-1: #00c2ff;
    --clr-2: #33ff8c;
    --clr-3: #ffc640;
    --clr-4: #e54cff;

    --blur: 1rem;
    --fs: clamp(3rem, 10vw, 10rem);
    --ls: clamp(-1.75px, -0.25vw, -3.5px);

    --grid-size: 95vh;
  }

  body {
    background-color: var(--bg);
    color: #fff;
    font-family: "Inter", "DM Sans", Arial, sans-serif;
  }

  .hidden {
    display: none !important;
  }

  *,
  *::before,
  *::after {
    font-family: inherit;
    box-sizing: border-box;
  }

  .title {
    font-size: var(--fs);
    font-weight: 800;
    letter-spacing: var(--ls);
    position: relative;
    overflow: hidden;
    background: var(--bg);
    margin: 0;
  }

  .subtitle {
    font-size: 2rem;
  }

  .aurora {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    mix-blend-mode: darken;
    pointer-events: none;
  }

  .aurora__item {
    overflow: hidden;
    position: absolute;
    width: 60vw;
    height: 60vw;
    background-color: var(--clr-1);
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    filter: blur(var(--blur));
    mix-blend-mode: overlay;
  }

  .aurora__item:nth-of-type(1) {
    top: -50%;
    animation:
      aurora-border 6s ease-in-out infinite,
      aurora-1 12s ease-in-out infinite alternate;
  }

  .aurora__item:nth-of-type(2) {
    background-color: var(--clr-3);
    right: 0;
    top: 0;
    animation:
      aurora-border 6s ease-in-out infinite,
      aurora-2 12s ease-in-out infinite alternate;
  }

  .aurora__item:nth-of-type(3) {
    background-color: var(--clr-2);
    left: 0;
    bottom: 0;
    animation:
      aurora-border 6s ease-in-out infinite,
      aurora-3 8s ease-in-out infinite alternate;
  }

  .aurora__item:nth-of-type(4) {
    background-color: var(--clr-4);
    right: 0;
    bottom: -50%;
    animation:
      aurora-border 6s ease-in-out infinite,
      aurora-4 24s ease-in-out infinite alternate;
  }

  @keyframes aurora-1 {
    0% {
      top: 0;
      right: 0;
    }

    50% {
      top: 100%;
      right: 75%;
    }

    75% {
      top: 100%;
      right: 25%;
    }

    100% {
      top: 0;
      right: 0;
    }
  }

  @keyframes aurora-2 {
    0% {
      top: -50%;
      left: 0%;
    }

    60% {
      top: 100%;
      left: 75%;
    }

    85% {
      top: 100%;
      left: 25%;
    }

    100% {
      top: -50%;
      left: 0%;
    }
  }

  @keyframes aurora-3 {
    0% {
      bottom: 0;
      left: 0;
    }

    40% {
      bottom: 100%;
      left: 75%;
    }

    65% {
      bottom: 40%;
      left: 50%;
    }

    100% {
      bottom: 0;
      left: 0;
    }
  }

  @keyframes aurora-4 {
    0% {
      bottom: -50%;
      right: 0;
    }

    50% {
      bottom: 0%;
      right: 40%;
    }

    90% {
      bottom: 50%;
      right: 25%;
    }

    100% {
      bottom: -50%;
      right: 0;
    }
  }

  @keyframes aurora-border {
    0% {
      border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }

    25% {
      border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
    }

    50% {
      border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
    }

    75% {
      border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
    }

    100% {
      border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }
  }

  #game_container {
    margin: 0 auto;
    width: var(--grid-size);
    height: var(--grid-size);
  }
  #birthday_message {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 0;
    transition: filter 2s;

    &.blurred {
      filter: blur(64px);
    }
  }
  #game_grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 12px;
    transform: translateY(calc((100vh - var(--grid-size)) / 2));
    position: relative;
    z-index: 10;

    > .cell {
      perspective: 600px;
      overflow: visible;
      > .card {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transform-origin: center right;
        transition: transform 0.75s;
        &.flipped {
          transform: translateX(-100%) rotateY(-180deg);
        }
        &.matched {
          .back {
            opacity: 0;
            transform: scale(0.1, 0.1) translateX(-100%) rotateY(-180deg);
          }
        }
      }
    }
    .card-face {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: white;
      text-align: center;
      font-weight: bold;
      backface-visibility: hidden;
      border-radius: 8px;

      &.front {
        background-image: url('/img/monas-birthday/card-pattern.webp');
      }
      &.back {
        background: slateblue;
        transform: rotateY(180deg);
        background-size: cover;
        opacity: 1;
        transition: opacity 1s, transform 1s;
      }
    }

    .card_0 .back {
      background-image: url('/img/monas-birthday/photos/0.jpeg');
    }
    .card_1 .back {
      background-image: url('/img/monas-birthday/photos/1.jpeg');
    }
    .card_2 .back {
      background-image: url('/img/monas-birthday/photos/2.jpeg');
    }
    .card_3 .back {
      background-image: url('/img/monas-birthday/photos/3.jpeg');
    }
    .card_4 .back {
      background-image: url('/img/monas-birthday/photos/4.jpeg');
    }
    .card_5 .back {
      background-image: url('/img/monas-birthday/photos/5.jpeg');
      background-position-y: 35%;
    }
    .card_6 .back {
      background-image: url('/img/monas-birthday/photos/6.jpeg');
    }
    .card_7 .back {
      background-image: url('/img/monas-birthday/photos/7.jpeg');
    }
    .card_8 .back {
      background-image: url('/img/monas-birthday/photos/8.jpeg');
    }
  }