---
import ArtLink from '../components/ArtLink.astro';
import Heading from '../components/Heading.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Avram Eisner dot com.">
	<Heading level={1}>My Art</Heading>
	<ul class="grid grid-cols-3 gap-10 lightbox-links-container">
		<ArtLink url="img/art/alien-world.jpg">Alien World</ArtLink>
		<ArtLink url="img/art/crab.jpg">Crab in Eel Grass</ArtLink>
		<ArtLink url="img/art/ganesh.jpg">Ganesh</ArtLink>
		<ArtLink url="img/art/neon-forest.jpg">Neon Forest</ArtLink>
	</ul>
	<dialog id="lightbox">
		<button class="close"><i class="iconoir-cancel"></i></button>
		<button class="prev-image"><i class="iconoir-nav-arrow-left"></i></button>
		<div class="image"></div>
		<button class="next-image"><i class="iconoir-nav-arrow-right"></i></button>
	</dialog>
</Layout>

<script>
	// *** START ELEMENTS ***
	const lightbox_links_container = document.querySelector('.lightbox-links-container')
	const lightbox_links = lightbox_links_container.querySelectorAll('a')
	const lightbox = document.getElementById('lightbox')
	const img_div = document.querySelector('#lightbox .image')
	const close_btn = document.querySelector('#lightbox .close')
	const prev_img_btn = document.querySelector('#lightbox .prev-image')
	const next_img_btn = document.querySelector('#lightbox .next-image')
	// *** END ELEMENTS ***

	lightbox_links_container?.addEventListener('click', show_lightbox)

	const img_urls: Array<string | null> = []
	lightbox_links?.forEach(lb_link => {
		img_urls.push(lb_link.getAttribute('href'))
	})
	let img_idx = 0

	close_btn.addEventListener('click', hide_lightbox)
	prev_img_btn.addEventListener('click', show_prev_image)
	next_img_btn.addEventListener('click', show_next_image)

	// *** START FUNCTIONS ***
	function show_lightbox (event: Event) {
		event.preventDefault()

		const target = event.target as Element
		const link = target.parentElement

		if (link?.tagName === 'A') {
			const img_url = link.getAttribute('href')
			if (img_url) {
				img_idx = img_urls.indexOf(img_url)
				set_image(img_url)
			}
			// Attach keyboard events
			document.addEventListener('keydown', handle_keyboard)
			lightbox.classList.add('fade-in')
			lightbox.showModal()
		}
	}

	function handle_keyboard(event: KeyboardEvent) {
		switch(event.key) {
			case 'ArrowRight':
				show_next_image()
				break
			case 'ArrowLeft':
				show_prev_image()
				break
			case 'Escape':
				hide_lightbox()
				break
		}
	}

	function fade_out_lightbox () {
		lightbox.classList.remove('fade-out')
		lightbox.close()
		lightbox.removeEventListener('transitionend', fade_out_lightbox)
	}

	function hide_lightbox() {
		lightbox.classList.remove('fade-in')
		lightbox.classList.add('fade-out')
		document.removeEventListener('keydown', handle_keyboard)
		lightbox.addEventListener('transitionend', fade_out_lightbox)
	}

	function show_next_image() {
		const new_idx = img_idx + 1
		img_idx = (new_idx === img_urls.length) ? 0 : new_idx
		set_image(img_urls[img_idx])
	}

	function show_prev_image() {
		const new_idx = img_idx - 1
		img_idx = (new_idx < 0) ? img_urls.length - 1 : new_idx
		set_image(img_urls[img_idx])
	}

	function set_image(img_url: string | null) {
		if (img_url) img_div.style.backgroundImage = `url(${img_url})`
	}
	// *** END FUNCTIONS ***
</script>

<style is:global>
	@tailwind components;

	@layer components {

		#lightbox {
			display: flex;
			justify-content: space-around;
			align-items: center;
			position: fixed;
			width: 100vw;
			height: 100vh;
			max-width: 100vw;
			max-height: 100vh;
			left: 0;
			top: 0;
			z-index: -10;
			background: rgba(0, 0, 0, 0.75);
			opacity: 0;
			transition: opacity .5s;
		}
		#lightbox .close {
			@apply text-white hover:text-gray-400 text-4xl absolute right-2 top-2 flex justify-center items-center;
		}
		#lightbox .next-image, #lightbox .prev-image {
			@apply text-white hover:text-gray-400 text-5xl flex justify-center items-center;
			height: calc(100% - 25vh);
		}
		#lightbox.fade-in {
			opacity: 1;
			z-index: 100;
		}
		#lightbox.fade-out {
			opacity: 0;
			z-index: 100;
		}
		#lightbox .image {
			/* width: calc(100vw - 6rem); */
			height: calc(100vh - 6rem);
			flex: 1 1 auto;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
</style>
