---
import Heading from '../components/Heading.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Avram Eisner dot com.">
	<Heading level={1}>Software Projects</Heading>
	<ul class="grid grid-cols-3 gap-10">
		<li><a href=""></a></li>
	</ul>
</Layout>

<style>
</style>
