---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Avram Eisner dot com.">
	<p>Hi, my name is Avram Eisner, and I'm a full-stack web developer who lives in Seattle, Washington. Besides having a passion for computers and technology, I also enjoy painting and playing music.</p>
	<p>Come take a look at some of <a href="/art">my art</a>, or see something <a href="/code">I've programmed</a></p>
</Layout>

<style>
</style>
