---
import "../styles/mona.css"
---

<script src="../scripts/mona.ts" />

<div id="game_container">
  <div id="game_grid"></div>
  <div id="birthday_message" class="blurred">
    <h1 class="title">
      Happy Birthday Mona!!!
      <div class="aurora">
        <div class="aurora__item"></div>
        <div class="aurora__item"></div>
        <div class="aurora__item"></div>
        <div class="aurora__item"></div>
      </div>
    </h1>
    <p class="subtitle">
      <img src="/img/monas-birthday/red-heart.png" width="32" style="display:inline;" />, Avram
    </p>
  </div>
</div>
