---
import Nav from "./Nav.astro";
import { Icon } from "astro-icon";
---

<header>
  <button id="open_nav_btn" aria-label="Open Main Nav">
    <Icon pack="iconoir" name="menu" />
  </button>
  <a href="/" class="logo"><span>AE</span></a>
  <Nav />
  <dark-mode-toggle id="dark-mode-toggle" appearance="toggle" permanent="true"
  ></dark-mode-toggle>
</header>
<style>
  @tailwind base;
  @tailwind components;

  :root {
    --dark-mode-toggle-icon-size: 2rem;
    --dark-mode-toggle-light-icon: url(/img/dark-mode/sun-light.svg);
    --dark-mode-toggle-dark-icon: url(/img/dark-mode/half-moon.svg);
  }

  @layer base {
    header {
      @apply bg-blue-300 p-4 shadow-md dark:bg-blue-700;
      @apply sticky inset-y-0 z-50 flex items-center justify-between px-4 md:flex-col;
      @apply md:flex-row md:justify-between dark:md:bg-blue-600;
    }
  }

  @layer components {
    dark-mode-toggle {
      width: 2.5rem;
    }
    #open_nav_btn {
      @apply text-2xl dark:text-slate-200;
      @apply md:hidden;
      &:active {
        @apply dark:text-slate-400;
      }
      [astro-icon] {
        @apply h-6 w-6;
      }
    }
    .logo {
      @apply border-black bg-purple-800 text-white shadow-inner shadow-slate-800;
      @apply flex h-12 w-12 items-center justify-center rounded-full;
      @apply ml-4 mr-auto;
    }
  }
</style>
