---
import Nav from "./Nav.astro";
---

<header class="bg-blue-600 fixed inset-y-0 left-0 mx-auto flex flex-col items-center md:w-screen md:sticky md:justify-between lg:max-w-screen-lg">
  <button><i class="iconoir-cancel w-6 h-6"></i></button>
  <div class="bg-purple-800 text-white w-12 h-12 flex justify-center items-center rounded-full m-3 border-black shadow-inner shadow-slate-800"><span>AE</span></div>
  <Nav />
</header>