---
interface Props {
  href: string;
  external?: boolean;
}

const { href, external } = Astro.props;

const target = external ? "_blank" : undefined;
---

<a
  href={href}
  target={target}
  class="underline text-cyan-200 hover:text-cyan-400"
>
  <slot />
</a>
