---
import NavLink from "./NavLink.astro";
---

<nav
  class="flex gap-px justify-center bg-blue-600 text-sm sm:text-md md:text-lg lg:text-xl xl:text-2xl text-slate-200"
>
  <NavLink text="Home" href="/" />
  <NavLink text="Résumé" href="/resume" />
  <NavLink text="Art" href="/art" />
  <NavLink text="Code" href="/code" />
</nav>
