---
import NavLink from "./NavLink.astro";
import { Icon } from 'astro-icon'
---

<nav
  id="main_nav"
  class="-translate-x-full"
>
  <button id="close_nav_btn">
    <Icon pack="iconoir" name="cancel" />
  </button>
  <NavLink text="Home" href="/" icon="home" />
  <NavLink text="Resume" href="/resume" icon="page" />
  <NavLink text="Code" href="/code" icon="code" />
  <NavLink text="Art" href="/art" icon="palette" />
</nav>

<style>
  @tailwind components;

  @layer components {
    #main_nav {
      @apply text-sm text-slate-200;
      @apply bg-blue-600;
      @apply p-3 pt-12;
      @apply fixed flex flex-col gap-2 inset-y-0 left-0 z-50;
      @apply shadow-xl transition-transform;
      @apply md:relative md:flex-row md:items-center md:text-lg md:translate-x-0 md:shadow-none md:p-4;
    }
    #close_nav_btn {
      @apply absolute left-2 top-2 md:hidden;
      &:active {
        @apply text-slate-400;
      }
      [astro-icon] {
        @apply w-8 h-8;
      }
    }
  }
</style>