---
import NavLink from "./NavLink.astro";
---

<nav
  class="flex flex-col md:flex-row sticky md:relative gap-2 justify-center text-sm sm:text-md md:text-lg text-slate-200 p-3"
>
  <NavLink text="Home" href="/" />
  <NavLink text="Resume" href="/resume" />
  <NavLink text="Art" href="/art" />
  <NavLink text="Code" href="/code" />
</nav>
