---
import NavLink from './NavLink.astro';
---

<nav class="flex gap-px justify-center rounded-t-md bg-blue-600">
  <NavLink text="Home" href="/" />
  <NavLink text="Résumé" href="/resume" />
  <NavLink text="Art" href="/art" />
  <NavLink text="Code" href="/code" />
</nav>