---
interface Props {
  text: string;
  href: string;
  icon: string;
}

import { Icon } from 'astro-icon'

const { href, text, icon } = Astro.props;
const { pathname } = new URL(Astro.url);
---

<a
  href={href}
  class:list={[
    "nav-link",
    { "active": href === pathname },
  ]}>
    <Icon pack="iconoir" name={icon} />
    <span>{text}</span>
  </a
>

<style>
  @tailwind components;

  @layer components {
    .nav-link {
      @apply bg-blue-700 hover:bg-blue-800 active:bg-purple-800;
      @apply flex gap-2 items-center;
      @apply rounded-md;
      @apply px-6 py-2;
      @apply md:justify-center;
      &.active {
        @apply bg-blue-900;
      }

      [astro-icon] {
        @apply w-5 h-5;
      }
    }
  }
</style>
