---
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<script src="../scripts/main_nav.ts"></script>

<!doctype html>
<html lang="en" class="bg-blue-200">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="The personal website of Avram Eisner."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="wrapper">
      <Header />
      <div class="hero"></div>
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind utilities;

  @layer base {
    .wrapper {
      @apply flex flex-col items-stretch container lg:max-w-screen-lg mx-auto;
      @apply shadow-xl shadow-slate-600;
      @apply md:rounded-b-md md:mb-8;
      min-height: calc(100vh - 3rem);
    }
    main {
      @apply text-slate-200 bg-blue-900 border-t-slate-200 ;
      @apply flex-auto relative p-4;
      @apply border-t-2 h-full;
      @apply md:p-10 md:rounded-b-md;
    }
  }

  .hero {
    aspect-ratio: 1.61803; /* oh, I'm such a nerd */
    box-sizing: border-box;
    background: center / cover no-repeat url(https://dummyimage.com/800x360/fff/aaa);
    @media (min-width: 768px)  {
      aspect-ratio: 2;
    }
  }
  
</style>
